USE [master]
GO
/****** Object:  Database [SHOPQUATANG]    Script Date: 28-Nov-18 11:11:06 PM ******/
CREATE DATABASE [SHOPQUATANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPQUATANG_dat', FILENAME = N'D:\DATA\Database\SHOPQUATANG\SHOPQUATANG_dat.mdf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'SHOPQUATANG_log', FILENAME = N'D:\DATA\Database\SHOPQUATANG\SHOPQUATANG_log.ldf' , SIZE = 5120KB , MAXSIZE = 25600KB , FILEGROWTH = 5120KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPQUATANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPQUATANG]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MA_HD] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[SL] [int] NULL,
	[THANHTIEN_HD] [float] NULL,
	[DONGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MA_PN] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[SL_NHAP] [int] NULL,
	[GIA_NHAP] [float] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MA_DM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINHANH_SP]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HINHANH_SP](
	[MA_SP] [int] NOT NULL,
	[ANH_SP] [varchar](100) NOT NULL,
	[STT_HA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[ANH_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP_HD] [datetime] NULL DEFAULT (getdate()),
	[TONGTIEN_HD] [float] NULL,
	[MA_KH] [int] NULL,
	[MA_NV] [int] NULL,
	[STATUS_HD] [bit] NULL DEFAULT ((0)),
	[STATUS_GH] [bit] NULL DEFAULT ((0)),
	[HOTEN_KN] [nvarchar](100) NULL,
	[SDT_KN] [varchar](15) NULL,
	[DIACHI_KN] [nvarchar](100) NULL,
	[NGAYGIAOHANG] [datetime] NULL,
	[STATUS_TT] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](100) NULL,
	[USERNAME_KH] [varchar](100) NULL,
	[CAPDO_KH] [tinyint] NULL DEFAULT ((1)),
	[TICHDIEM_KH] [int] NULL,
	[SDT_KH] [varchar](15) NULL,
	[PASSWORD_KH] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MA_NCC] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NCC] [nvarchar](100) NULL,
	[DIACHI_NCC] [nvarchar](100) NULL,
	[DT_NCC] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_NV] [nvarchar](50) NULL,
	[CMMD_NV] [varchar](12) NULL,
	[USERNAME_NV] [varchar](40) NULL,
	[PASSWORD_NV] [varchar](40) NULL,
	[STT_NV] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MA_PN] [int] IDENTITY(1,1) NOT NULL,
	[MA_NCC] [int] NULL,
	[TONGTIEN_PH] [float] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[MA_NV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SP] [nvarchar](100) NULL,
	[GIA_SP] [float] NULL,
	[MA_DM] [int] NULL,
	[CT_SP] [ntext] NULL,
	[AVA_SP] [varchar](100) NULL,
	[NGAYCAPNHAT_SP] [datetime] NULL DEFAULT (getdate()),
	[SL_TON] [int] NULL,
	[STATUS_SP] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 28-Nov-18 11:11:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MA_TIN] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE_TIN] [nvarchar](100) NULL,
	[MOTA_TIN] [nvarchar](200) NULL,
	[NOIDUNG_TIN] [ntext] NULL,
	[NGAYDANG_TIN] [datetime] NULL CONSTRAINT [DF__TINTUC__NGAYDANG__2E1BDC42]  DEFAULT (getdate()),
	[MA_NV] [int] NULL,
	[ANH_TIN] [varchar](100) NULL,
	[STATUS_TIN] [bit] NULL CONSTRAINT [DF__TINTUC__STATUS_T__300424B4]  DEFAULT ((1)),
 CONSTRAINT [PK__TINTUC__CCB44F02E20F05C0] PRIMARY KEY CLUSTERED 
(
	[MA_TIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_SP], [SL], [THANHTIEN_HD], [DONGIA]) VALUES (1, 15, 2, 114000, 57000)
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_SP], [SL], [THANHTIEN_HD], [DONGIA]) VALUES (2, 52, 1, 1200000, 1200000)
INSERT [dbo].[CT_HOADON] ([MA_HD], [MA_SP], [SL], [THANHTIEN_HD], [DONGIA]) VALUES (3, 52, 1, 1200000, 1200000)
INSERT [dbo].[CT_PHIEUNHAP] ([MA_PN], [MA_SP], [SL_NHAP], [GIA_NHAP], [THANHTIEN]) VALUES (1, 1, 12, 56000, 672000)
INSERT [dbo].[CT_PHIEUNHAP] ([MA_PN], [MA_SP], [SL_NHAP], [GIA_NHAP], [THANHTIEN]) VALUES (2, 4, 1, 85000, 85000)
INSERT [dbo].[CT_PHIEUNHAP] ([MA_PN], [MA_SP], [SL_NHAP], [GIA_NHAP], [THANHTIEN]) VALUES (2, 5, 1, 79000, 79000)
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MA_DM], [TEN_DM]) VALUES (1, N'QUÀ TẶNG BẠN TRAI')
INSERT [dbo].[DANHMUC] ([MA_DM], [TEN_DM]) VALUES (2, N'QUÀ TẶNG BẠN GÁI')
INSERT [dbo].[DANHMUC] ([MA_DM], [TEN_DM]) VALUES (3, N'QUÀ TẶNG ĐỒNG NGHIỆP')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
INSERT [dbo].[HINHANH_SP] ([MA_SP], [ANH_SP], [STT_HA]) VALUES (1, N'29250797_346285562445085_1538011659_o.jpg', 0)
INSERT [dbo].[HINHANH_SP] ([MA_SP], [ANH_SP], [STT_HA]) VALUES (1, N'314e64d99d6f73312a7e.jpg', 1)
INSERT [dbo].[HINHANH_SP] ([MA_SP], [ANH_SP], [STT_HA]) VALUES (1, N'39972158_2216864575262532_4076850530083667968_n.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MA_HD], [NGAYLAP_HD], [TONGTIEN_HD], [MA_KH], [MA_NV], [STATUS_HD], [STATUS_GH], [HOTEN_KN], [SDT_KN], [DIACHI_KN], [NGAYGIAOHANG], [STATUS_TT]) VALUES (1, CAST(N'2018-04-29 15:17:33.007' AS DateTime), 108300, 5, 1, 1, 1, N'Nguyễn Minh Luân', N'0978088980', N'Tân Thạnh Đông, Củ Chi, TP.HCM', CAST(N'2018-05-04 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[HOADON] ([MA_HD], [NGAYLAP_HD], [TONGTIEN_HD], [MA_KH], [MA_NV], [STATUS_HD], [STATUS_GH], [HOTEN_KN], [SDT_KN], [DIACHI_KN], [NGAYGIAOHANG], [STATUS_TT]) VALUES (2, CAST(N'2018-04-29 15:30:10.873' AS DateTime), 1140000, 1, 1, 1, 1, N'Nguyễn Minh Luân', N'0978088980', N'Tân Thạnh Đông, Củ Chi, TP.HCM', CAST(N'2018-05-04 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[HOADON] ([MA_HD], [NGAYLAP_HD], [TONGTIEN_HD], [MA_KH], [MA_NV], [STATUS_HD], [STATUS_GH], [HOTEN_KN], [SDT_KN], [DIACHI_KN], [NGAYGIAOHANG], [STATUS_TT]) VALUES (3, CAST(N'2018-04-29 15:33:23.823' AS DateTime), 1140000, 1, 1, 1, 1, N'Nguyễn Minh Luân', N'0978088990', N'Tân Thạnh Đông, Củ Chi, TP.HCM', CAST(N'2018-05-04 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [USERNAME_KH], [CAPDO_KH], [TICHDIEM_KH], [SDT_KH], [PASSWORD_KH]) VALUES (1, N'Nguyễn Thanh Khiết', N'thanhkhiet97', 4, 260, N'0937098264', N'0a9d84b384f4161844ade7f9dba25eec')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [USERNAME_KH], [CAPDO_KH], [TICHDIEM_KH], [SDT_KH], [PASSWORD_KH]) VALUES (2, N'Nguyễn Minh Luân', N'minhluan97', 3, 295, N'0978088980', N'd23d711c569681a977af70c9b3a63763')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [USERNAME_KH], [CAPDO_KH], [TICHDIEM_KH], [SDT_KH], [PASSWORD_KH]) VALUES (3, N'Nguyễn Quang Hà', N'quangha97', 4, 435, N'0868455851', N'16fe47e69e8e5da6f5786a52206cfd02')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC], [DT_NCC]) VALUES (1, N'Cửa Hàng Sao Mai', N'Bến Xe An Sương,Quận 12,TP.HCM', N'02839734533')
INSERT [dbo].[NHACUNGCAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC], [DT_NCC]) VALUES (2, N'Nhà Sách Fahasa', N'12123123', N'123121212323213')
INSERT [dbo].[NHACUNGCAP] ([MA_NCC], [TEN_NCC], [DIACHI_NCC], [DT_NCC]) VALUES (3, N'Tạp hóa chị Hường', N'ấp 8, xã Tân Thạnh Đông, Củ Chi,TP.HCM', N'028345678987')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MA_NV], [HOTEN_NV], [CMMD_NV], [USERNAME_NV], [PASSWORD_NV], [STT_NV]) VALUES (1, N'Nguyễn Minh Luân', N'025612035', N'minhluan97', N'3065a3a021e9826599760dd7dbd6c030', 1)
INSERT [dbo].[NHANVIEN] ([MA_NV], [HOTEN_NV], [CMMD_NV], [USERNAME_NV], [PASSWORD_NV], [STT_NV]) VALUES (2, N'Nguyễn Quang Hà', N'012434534', N'quangha97', N'9103621b437013d09299a36040dd9164', 1)
INSERT [dbo].[NHANVIEN] ([MA_NV], [HOTEN_NV], [CMMD_NV], [USERNAME_NV], [PASSWORD_NV], [STT_NV]) VALUES (3, N'Huỳnh Minh Đại', N'000345645435', N'minhdai97', N'85cf7467fef35a354386a4079d99c900', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MA_PN], [MA_NCC], [TONGTIEN_PH], [NGAY_NHAP], [MA_NV]) VALUES (1, 1, 672000, CAST(N'2018-04-12 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PHIEUNHAP] ([MA_PN], [MA_NCC], [TONGTIEN_PH], [NGAY_NHAP], [MA_NV]) VALUES (2, 2, 164000, CAST(N'2018-04-23 23:55:12.620' AS DateTime), 1)
INSERT [dbo].[PHIEUNHAP] ([MA_PN], [MA_NCC], [TONGTIEN_PH], [NGAY_NHAP], [MA_NV]) VALUES (3, 2, 600000, CAST(N'2018-04-24 00:28:49.100' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MA_SP], [TEN_SP], [GIA_SP], [MA_DM], [CT_SP], [AVA_SP], [NGAYCAPNHAT_SP], [SL_TON], [STATUS_SP]) VALUES (3, N'Mô hình tháp đồng hồ BigBen', 235000, 1, N'Mô hình đồng hồ tháp Bigben được làm từ chất liệu thủy tinh, bọc lớp kim loại được sơn chất lượng cao phía bên ngoài. Có 2 màu sắc là màu vàng và màu bạc. Kích thước: chiều cao 25 cm. Đặc biệt, mô hình đồng hồ tháp Bigben còn có đèn led đổi màu. Đồng hồ có thể chạy bình thường. Đọc kỹ mô tả chi tiết sản phẩm bên dưới để biết thêm chi tiết.', N'BT003.jpg', CAST(N'2018-04-08 00:00:00.000' AS DateTime), 16, 1)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

SET IDENTITY_INSERT [dbo].[TINTUC] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__296D55E6AFB67D5C]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__DE78DCDB1F8D92B1]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__033BA0E74BE796E2]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[HOTEN_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__296D7D7794199661]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__296D7D77ECBD74AF]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__669A3337B9E3554C]    Script Date: 28-Nov-18 11:11:06 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CMMD_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MA_PN])
REFERENCES [dbo].[PHIEUNHAP] ([MA_PN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[HINHANH_SP]  WITH CHECK ADD FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MA_DM])
REFERENCES [dbo].[DANHMUC] ([MA_DM])
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK__TINTUC__MA_NV__2F10007B] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK__TINTUC__MA_NV__2F10007B]
GO
USE [master]
GO
