*{margin:0; padding:0}
p.logotext{font-size:25px;margin:0; padding:0; font-weight:900;font-family: 'Roboto Slab', serif;}
.bar.background-white.relative-positioned{background: url(../img/bg.jpg) center center no-repeat; background-size: cover;}
.bar.no-mb.color-white.text-center.bg-fixed.relative-positioned{background: url(../img/fixed-background-2.jpg) center top no-repeat;
 background-size: cover;}
.btn.btn-template-main{margin: 0px;}
.product .text h3{min-height: 40px;}
.product p{margin: 0;}
.search-member{padding: 70px 0 30px 0;background-image: url(../img/texture-bw.png);}
.search-member input{min-height:50px;font-size: 20px;}
.btn.btn-template-main{font-size:22px}
.container-map{margin:0;}