<div data-slider-id="1" class="owl-carousel shop-detail-carousel">
    @foreach (var item in Model)
    {
        <div> <img src="~/Images/@ViewBag.MaDM/@item.ANH_SP" alt="" class="img-fluid" style="height:300px; width:300px; background-size:cover;"></div>
    }

</div>


