<!-- Notifications -->

<a href="@Url.Action("NhapKho","NhapKho")">
    <i class="material-icons">notifications</i>
    <span class="label-count">@ViewBag.TongSoLuong</span>
</a>
<!-- #END# Notifications -->
